body {
  font-family: arial, sans-serif;
}

span {
  font-weight: bold;
  color: blue;
}

.header {
  text-align: center;
  width: 75%;
  margin-left : 10%;
  margin-right : 15%;
}

.header img {
  width: 100%;
}

.contents {
  margin-top : 100px;
  box-sizing: border-box;
  width: 75%;
  margin-left : 10%;
  margin-right : 15%;
}

.conclusion {
  font-size: 20px;
  font-weight: bold;
  background-color: #EEEEEE;
  border: solid 2px #808080;
  box-sizing: border-box;
  width: 80%;
  margin-right: 20%;
}

.conclusion li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contents h1 {
  border-bottom: 2px solid #dee7ec;
}

.content-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-item h2 {
  border-left: 2px solid #0099FF;
  padding-left: 10px;
}

.form-item {
  margin: 20px 0;
}

.calcResult {
  font-size: 40px;
  margin-top: 50px;
}

.intro-content {
  margin:30px 0;
}
